.productsContainer {
  display: flex;
  flex-direction: row;
  background-color: var(--gray-100);
  padding: 184.41px 360px;
  width: "100%";
  align-items: center;
  justify-content: space-between;
}

.carrouselContainer {
  width: 378.02px;
  height: 497.08px;
  background-color: var(--gray-200);
}

.infoWrapper {
  width: 568.79px;
  word-break: break-word;
  text-align: center;
  justify-content: center;
}

.productTitle {
  color: black;
  font-size: 80px;
  weight: 600;
  line-height: 130%;
  margin-bottom: 50px;
}

.productDescription {
  color: black;
  font-size: 30px;
  line-height: 130%;
  weight: 400;
}

.productButton {
  width: 376.03px;
  height: 91px;
  background-color: var(--green-200);
  border: none;
  margin-top: 50px;
}
