.heroContainer {
  display: flex;
  background-color: var(--gray-100);
  padding: 212.24px 360px;
  width: "100%";
  align-items: center;
}

.heroTextContainer {
  width: 900px;
  height: 392.69px;
  word-break: break-word;

  margin-bottom: 94px;
}

.heroText {
  color: black;
  font-size: 80px;
  font-weight: 400;
  line-height: 130%;
}
span {
  font-size: 80px;
  font-weight: 700;
}

.heroButton {
  width: 387px;
  height: 88.82px;
  background: var(--green-200);
  border: none;
}
