.institutionalContainer {
  display: flex;
  flex-direction: row;
  background-color: var(--gray-100);
  padding: 219.97px 360px 208.31px;
  width: "100%";
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #000000 -12.75%, rgba(0, 0, 0, 0) 109.61%),
    url("../../assets/institutional.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.institutionalDescription {
  width: 590px;
  word-break: break-word;
  text-align: start;
  justify-content: flex-start;
}

.title {
  font-size: 90px;
  line-height: 130%;
  font-weight: 800;
  margin-bottom: 50.94px;
  color: white;
}

.description {
  font-size: 30px;
  line-height: 130%;
  font-weight: 400;
  color: white;
}
