.clientsContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 115.43px 0 231.28px;
  width: "100%";
  align-items: center;
  justify-content: center;
  word-wrap: break-all;
}

.clientsTitle {
  width: 568.79px;
  height: 208px;
  weight: 600;
  font-size: 80px;
  line-height: 130%;
  margin-bottom: 104.23px;
}

.sliderWrapper {
  width: 650px;
  height: 300px;
}

.carrouselContainer {
  text-align: center;
  width: 282.39px;
  height: 282.39px;
  background-color: var(--gray-200);
  align-items: center;
}

@media screen and (max-width: 480px) {
  .sliderWrapper {
    width: 300px;
    height: 300px;
  }

  .clientsTitle {
    font-size: 50px;
    width: 300.79px;
  }
}
