.preparationContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 133.26px 360px 174.99px;
  width: "100%";
}

.titleContainer {
  margin-bottom: 162.99px;
}

.preparationTitle {
  width: 642.89px;
  height: 91.75px;
  background-color: var(--gray-200);
  margin-bottom: 37.33px;
}

.preparationDescription {
  width: 512.76px;
  height: 74.77px;
  background-color: var(--gray-400);
  word-break: break-word;
}

.descriptionWrapper {
  width: 1080.91px;
  margin-left: 59.54px;
}

.preparationGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 80px;
}

.preparationItem {
  justify-content: flex-start;
}

.itemTitle {
  width: 225.1px;
  height: 43.64px;
  background-color: var(--gray-400);
  margin-bottom: 46.3px;
}

.itemImage {
  width: 306.97px;
  height: 291.27px;
  background-color: var(--gray-200);
  margin-bottom: 33.09px;
}

.itemDescription {
  width: 306.97px;
  height: 124px;
  font-size: 24px;
  line-height: 130%;
  weight: "normal";
}
