.prizesContainer {
  display: flex;
  background-color: #fff;
  padding: 199.61px 360px;
  width: "100%";
  align-items: center;
  justify-content: space-between;
}

.mediumPrize {
  width: 313.97px;
  height: 412.85px;
  background-color: var(--gray-200);
}

.bigPrize {
  width: 378.02px;
  height: 497.08px;
  background-color: var(--gray-200);
}
